#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# Profession Specializations configuration
########################################
#
#    ProfSpec.Enable
#        Description: Enable the Profession Secilaizations module
#        Default:     true - Enabled
#                     false - Disabled
#

ProfSpec.Enable = true

#######################################
#Enabled Professions
#######################################
#
# ProfSpec.<Profession>
#	  Description: Enable or disable specific profressions
#	  Default:     true - Enabled
#                  false - Disabled
#

ProfSpec.Alchemy = true
ProfSpec.Blacksmithing = true
ProfSpec.Engineering = true
ProfSpec.Leatherworking = true
ProfSpec.Tailoring = true


########################################
#Costs
########################################
#
#    ProfSpec.CostEnabled
#        Description: Enable a gold cost for learning specilizations
#        Default:     false - Disabled
#                     true - Enabled
#

ProfSpec.CostEnabled = false

#    ProfSpec.Cost
#        Description: Set the gold cost for learning specilizations
#        Default:     10000
#

ProfSpec.Gold = 10000